<h1>Add New Hero</h1>

<div fxLayout="row" fxLayoutGap="40px">

    <div fxFlex="50" fxLayout="column">

        <div fxLayout="row" fxLayoutGap="20px">
            <mat-form-field fxFlex="100" >
                <mat-label>SuperHero</mat-label>
                <input matInput type="text" required>
            </mat-form-field>

            <mat-form-field fxFlex="100">
                <mat-label>Alter Ego</mat-label>
                <input matInput type="text" required>
            </mat-form-field>
        </div>


        <mat-form-field fxFlex="100">
            <mat-label>First Appearance</mat-label>
            <input matInput type="text" required>
        </mat-form-field>

        <mat-form-field fxFlex="100">
            <mat-label>Characters</mat-label>
            <input matInput type="text" required>
        </mat-form-field>

        <mat-form-field fxFlex="100">
            <mat-label>Publisher</mat-label>
          <mat-select>
            <mat-option *ngFor="let publisher of publishers"
                        [value]="publisher.id">
                {{publisher.desc}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field fxFlex="100">
            <mat-label>Url Photo</mat-label>
            <input matInput type="url" required>
        </mat-form-field>

        <br>

        <button mat-raised-button color="primary">
            <mat-icon>edit</mat-icon>
            Guardar
        </button>

    </div>
    <div fxFlex="50">
        <img [src]="hero | imagen">
    </div>

</div>