<h1>{{ (hero.id) ? 'Update' : 'Add New' }}
    Hero</h1> {{hero.superhero}}

<div fxLayout="row"
     fxLayoutGap="40px"
     fxLayout.xs="column">

    <div fxFlex="50" 
         fxLayout="column"
         >

        <div fxLayout="row"
            fxLayout.lt-md="column"
             fxLayout.xs="column"
             fxLayoutGap="20px">
            <mat-form-field fxFlex="100"  fxLayout.xs="column">
                <mat-label>SuperHero</mat-label>
                <input matInput
                       type="text" 
                       [(ngModel)]="hero.superhero"
                       required>
            </mat-form-field>

            <mat-form-field fxFlex="100">
                <mat-label>Alter Ego</mat-label>
                <input matInput
                 type="text"
                 [(ngModel)]="hero.alter_ego"
                 required>
            </mat-form-field>
        </div>


        <mat-form-field fxFlex="100">
            <mat-label>First Appearance</mat-label>
            <input matInput
             type="text"
             [(ngModel)]="hero.first_appearance"
             required>
        </mat-form-field>

        <mat-form-field fxFlex="100">
            <mat-label>Characters</mat-label>
            <input matInput type="text" 
            [(ngModel)]="hero.characters" required>
        </mat-form-field>

        <mat-form-field fxFlex="100">
            <mat-label>Publisher</mat-label>
          <mat-select  [(ngModel)]="hero.publisher" required="">
            <mat-option *ngFor="let publisher of publishers"
                        [value]="publisher.id">
                {{publisher.desc}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field fxFlex="100">
            <mat-label>Url Photo</mat-label>
            <input matInput type="url" 
             [(ngModel)]="hero.alt_img" 
              required
              (ngModelChange)="actualizaIMG($event)"
              >
        </mat-form-field>

        <br>


        <div fxLayout>

    
        <button mat-raised-button 
                color="primary"
                (click)="saveHero()"
                class="buttonSize">
            <mat-icon>edit</mat-icon>
            {{ (hero.id) ? 'Update' : 'Add New' }}
        </button>

        <span class="spacer"></span>

        
            <button mat-raised-button
                    color="warn"
                    (click)="deleteHero()"
                    *ngIf="hero.id"
                    class="buttonSize">
                <mat-icon>delete</mat-icon>
                Remove
            </button>
        </div>

    </div>
    <div fxFlex="50">
        <img [src]="hero | imagen: dummy">
    </div>

</div>